{% load static %}
<div class="page-hero-section bg-image hero-home-1" style="background-image: url({% static "/assets/img/bg_hero_1.svg" %});">
  <div class="hero-caption pt-5">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-6 wow fadeInUp">
               <h1 class="mb-4">Get Service<br> Be Happy</h1>
          <p class="mb-4">The Innovation Of Services That Make Your Life Easy!</p>
          <a href="/signin" class="btn btn-primary rounded-pill">Signin</a>
             <a href="/register" class="btn btn-dark rounded-pill">Register</a>
        </div>
        <div class="col-lg-6 d-none d-lg-block wow zoomIn">
          <div class="img-place mobile-preview shadow floating-animate">
            <img src="https://webstockreview.net/images/clipart-bicycle-animated-19.gif" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section bg-white fg-dark">
  <div class="container">
    <h1 class="text-center">Why Choose Biker</h1>

    <div class="row justify-content-center mt-5">
      <div class="col-md-6 col-lg-3 py-3">
        <div class="card card-body border-0 bg-transparent text-center wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
          <div class="mb-3">
            <img src="..{% static "/assets/img/icons/rocket.svg" %}" alt="">
          </div>
          <p class="fs-large">Very Fast</p>
               </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: zoomIn;">
          <div class="mb-3">
            <img src="..{% static "/assets/img/icons/testimony.svg" %}" alt="">
          </div>
          <p class="fs-large">Happy Client</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: zoomIn;">
          <div class="mb-3">
            <img src="..{% static "/assets/img/icons/coins.svg" %}" alt="">
          </div>
          <p class="fs-large">Save Money</p>
              </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="800ms" style="visibility: visible; animation-delay: 800ms; animation-name: zoomIn;">
          <div class="mb-3">
            <img src="{% static "/assets/img/icons/support.svg" %}" alt="">
          </div>
          <p class="fs-large">24/7 Support</p>
            </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="1000ms" style="visibility: visible; animation-delay: 1000ms; animation-name: zoomIn;">
          <div class="mb-3">
            <img src="..{% static "/assets/img/icons/laptop.svg" %}" alt="">
          </div>
          <p class="fs-large">Full Features</p>
         </div>
      </div>
    </div>
  </div>
</div>