<br>
<br>

<br>
<br>
<div class="container">
<form method="POST">
{% csrf_token %}
  <div class="form-group">
    {% if service.cancel_user%}

<p class="text-danger"><b>Service Is Cancelled By You!!!</b></p>

{% endif %}
{% if service.cancel_servicer%}

<p class="text-danger"><b>Service Is Cancelled By Servicer!!!</b></p>

{% endif %}
    <label for="exampleInputEmail1"><b>SERVICE ID: SVC{{service.pk}}</b> </label><hr><br>

    <label for="exampleInputEmail1">Date</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" value="{{service.created_at}}" readonly>
    </div>
  <div class="form-group">
    <label for="exampleInputPassword1">User</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="{{service.user}}" readonly>
  </div>
   
  <div class="form-group">
    <label for="exampleInputPassword1">Mobile</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="{{service.mobile }}" readonly>
  </div>
  <hr>
    <div class="form-group">
    
    <label for="exampleInputPassword1">Problem</label>
    <hr>
    <label for="exampleInputPassword1">Problem Explaination</label>
   <textarea class="form-control" readonly>{{service.problem}}</textarea>
   <br>
   <label for="exampleInputPassword1">Product Image</label>
   <br>
   <img src="/media/{{service.problem_image}}" width="100" height="100" />
     </div>     
  <hr>
  
   <div class="form-group">
    <label for="exampleInputPassword1">Vehicle Information</label>
    <hr>
     <label for="exampleInputPassword1">Vehicle</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="{{service.vehicle_fk}}" readonly>
   <br>
    <label for="exampleInputPassword1">Brand</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="{{service.brand}}" readonly>
    <br>
    <label for="exampleInputPassword1">Model</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="{{service.model_fk}}" readonly>
  
  </div>
  
  <div class="form-group">
  {% if not service.cancel_user  and not service.cancel_servicer%}
  <hr>
    <label for="exampleInputPassword1">Service Status</label>
    <hr>

    Accept &nbsp;&nbsp;&nbsp;<input type="checkbox" value="True" name="accept" {% if service.accept%} checked {% endif %}  > 
    <br>

    Solved &nbsp;&nbsp;&nbsp;<input name="solved"  value="True" type="checkbox" {% if service.accept%} {% if service.solved %} checked {% endif %}{% endif %}  > 
  <br>
  <br>
    <label for="exampleInputPassword1">Remarks</label>
    <textarea class="form-control" name="remark">{{service.remarks}}</textarea>

  </div>
  {% if not service.solved %}
  <a href="{% url 'can_service_servicer' service.pk%}" class="btn btn-danger">Cancel Service</a>
  {% endif%}
  <button type="submit" class="btn btn-primary">Save Changes</button>
{% endif %}
</form>

</div>
</div>
<br>
<br>
<br>